<div class="header-height"></div>
<div class="text-center">
	<h1 class="fs-2">Contact Me</h1>
</div>
<div class="container my-5">
	<div class="container-fluid d-flex justify-content-evenly">
		<div class="image-container" *ngIf="!isMobileDevice">
			<img src="/assets/images/contact.png" alt="contact us">
		</div>
		<div class="form-container" [ngClass]="isMobileDevice ? 'p-2': 'p-5 w-50'">
			<div class="form-head">
				<h3 class="fs-3">Get in touch</h3>
				<p class="text-muted">My inbox is always open. Whether you have a question or just want to say hello,
					I will try my best to get back to you!</p>
			</div>
			<form #contactForm="ngForm" (ngSubmit)="save(contactForm.value)">
				<div class="mb-3">
					<input type="text" class="form-control bg-light border-0" id="name" aria-describedby="nameHelp"
						   placeholder="Full Name" ngModel name="name" >
<!--					<div id="nameHelp" class="form-text">We'll never share your email with anyone else.</div>-->
				</div>
				<div class="mb-3">
					<input type="email" class="form-control bg-light border-0" placeholder="Email"
						   id="exampleInputEmail1" ngModel name="email" aria-describedby="emailHelp">
<!--					<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
				</div>
				<div class="mb-3">
					<textarea class="form-control bg-light border-0" ngModel name="message" placeholder="Leave a Message here" id="floatingTextarea2" style="height: 100px"></textarea>
				</div>
				<button type="submit" class="btn btn-theme float-end">Say Hello
					<span><img src="assets/images/waving-hand.gif" width="20" height="20"></span>
				</button>
			</form>
		</div>
	</div>
</div>
