<div class="container-fluid d-flex justify-content-center my-5 flex-wrap">
	<div class="img d-flex align-items-center justify-content-center">
		<div class="self-img">
			<img src="assets/images/wes-hicks-4-EeTnaC1S4-unsplash.jpg" class="rounded-3" alt="img" width="300" height="300">
		</div>
	</div>
	<div class="content d-flex align-items-center justify-content-center " [ngClass]="isMobileDevice ? 'mt-5 text-center' : ''">
		<div class="w-75">
			<div class="fs-4">
				<span> <img src="assets/images/waving-hand.gif" width="40" height="40"> Hey</span>
			</div>
			<h1 class="fs-1 fw-bolder py-4">I'm Vishwajit Sayambar</h1>
			<!--			<p>I am into {{workingText}}</p>-->
			<p class="fs-5">I am into Web Development</p>
			<p>My focus is on creating web applications that meet client needs with attention to detail,
				scalability, and performance to ensure a user-friendly experience.</p>
			<div>
				<button class="btn btn-primary btn-sm ">About Me</button>
			</div>
		</div>
	</div>
</div>
