<div class="container mb-5">
	<div>
		<hr class="my-3">
		<div class="links">
			<div class="links-btn">
				<a href="https://twitter.com/vishwaSayambar" target="_blank"><i
						class="fa-brands fa-twitter fs-4"></i></a>
			</div>
			<div class="links-btn">
				<a href="https://www.linkedin.com/in/vishwajit-sayambar/" target="_blank"><i
						class="fa-brands fa-linkedin-in fs-4"></i></a>
			</div>
			<div class="links-btn">
				<a href="https://github.com/vishwasayambar" target="_blank"><i class="fa-brands fa-github fs-4"></i></a>
			</div>
			<div class="links-btn">
				<a href="tel:+918459987661"><i class="fa-solid fa-phone"></i></a>
			</div>
			<div class="links-btn">
				<a href="https://medium.com/@vishwajitsayambar" target="_blank"><i class="fa-brands fa-medium fs-4"></i></a>
			</div>
			<div class="links-btn">
				<a href="https://www.instagram.com/vishwasayambar/" target="_blank"><i
						class="fa-brands fa-instagram fs-4"></i></a>
			</div>
		</div>
	</div>
</div>
<hr>
