<div class="header-height"></div>
<div class="section">
	<div class="container-fluid mb-5">
		<div class="container-fluid d-flex flex-column justify-content-center my-5 flex-wrap">
			<h2 class="text-center fs-2">Work/Projects</h2>
			<div class="d-flex justify-content-center">
				<div class="example-button-row d-flex justify-content-center flex-wrap">
					<button mat-button class="btn-bg-primary px-3 m-1 rounded m-0"
							[ngClass]="category === 'WebProjects' ? 'active-btn-bg-primary' : ''"
							(click)="onChange('WebProjects')">
						<mat-icon *ngIf="!isMobileDevice">favorite</mat-icon>
						Web Projects
					</button>
					<button mat-button class="btn-bg-primary px-3 m-1 rounded m-0"
							[ngClass]="category === 'laravel' ? 'active-btn-bg-primary' : ''"
							(click)="onChange('laravel')">
						<mat-icon *ngIf="!isMobileDevice">favorite</mat-icon>
						laravel
					</button>
					<button mat-button class="btn-bg-primary px-3 m-1 rounded m-0"
							[ngClass]="category === 'Angular' ? 'active-btn-bg-primary' : ''"
							(click)="onChange('Angular')">
						<mat-icon *ngIf="!isMobileDevice">favorite</mat-icon>
						Angular
					</button>
					<button mat-button class="btn-bg-primary px-3 m-1 rounded m-0"
							[ngClass]="category === 'Blogs' ? 'active-btn-bg-primary' : ''"
							(click)="onChange('Blogs')">
						<mat-icon *ngIf="!isMobileDevice">favorite</mat-icon>
						Blogs
					</button>
					<button mat-button class="btn-bg-primary px-3 m-1 rounded m-0"
							[ngClass]="category === 'BasicWebApp' ? 'active-btn-bg-primary' : ''"
							(click)="onChange('BasicWebApp')">
						<mat-icon *ngIf="!isMobileDevice">favorite</mat-icon>
						Basic Web App
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="container" [ngClass]="isMobileDevice ? '': 'w-75'">
		<div [ngSwitch]="category">
			<div class="row row-cols-1 row-cols-lg-3 g-2 g-lg-3" *ngSwitchCase="'WebProjects'">
				<div class="d-flex align-items-center flex-column" *ngFor="let item of webProjects">
					<div class="card">
						<img [src]="item.image" width="330" height="200" class="">
						<div class="slider"></div>
						<a href="#" class="link-icon"></a>
					</div>
					<div class="card-detail">
						<h4 class="text-center pt-2">{{item?.name}}</h4>
					</div>
				</div>
			</div>
			<div class="row row-cols-1 row-cols-lg-3 g-2 g-lg-3" *ngSwitchCase="'Angular'">
				<div class="d-flex align-items-center flex-column" *ngFor="let item of angular">
					<div class="card">
						<img [src]="item.image" width="330" height="200" class="">
						<div class="slider"></div>
					<a href="#" class="link-icon"></a>
					</div>
					<div class="card-detail">
						<h4 class="text-center pt-2">{{item?.name}}</h4>
					</div>
				</div>
			</div>
			<div class="row row-cols-1 row-cols-lg-3 g-2 g-lg-3" *ngSwitchCase="'Blogs'">
				<div class="d-flex align-items-center flex-column" *ngFor="let item of blogs">
					<div class="card">
						<img [src]="item.image" width="330" height="200" class="">
						<div class="slider"></div>
						<a href="#" class="link-icon"></a>
					</div>
					<div class="card-detail">
						<h4 class="text-center pt-2">{{item?.name}}</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
