<div class="header-height"></div>
<div class="container-fluid mb-5">
	<div class="container-fluid d-flex flex-column justify-content-center my-5 flex-wrap">
		<h2 class="text-center fs-2">Experience/Education</h2>
		<div class="d-flex justify-content-center">
			<div class="example-button-row">
				<button (click)="onChange('Experience')"
						[ngClass]="category === 'Experience' ? 'active-btn-bg-primary' : ''" class="btn-bg-primary m-1"
						mat-button>
					<mat-icon>favorite</mat-icon>
					Experience
				</button>
				<button (click)="onChange('Education')"
						[ngClass]="category === 'Education' ? 'active-btn-bg-primary' : ''" class="btn-bg-primary m-1"
						mat-button>
					<mat-icon>favorite</mat-icon>
					Education
				</button>
			</div>
		</div>
	</div>
</div>
<ng-template [ngIfElse]="isNotMobileDevice" [ngIf]="isMobileDevice">
	<section *ngIf="category === 'Experience'" [ngClass]="isDark ? 'dark-theme-text' : ''">
		<div *ngFor="let item of defaultExperienceCards; index as i" class="container">
			<div class="cards d-flex justify-content-evenly">
				<div class="center-steep">
					<div [ngClass]="isDark ? 'dark-theme-vertical-line' : ''" class="vertical-line"></div>
					<div class="fs-4 vertical-line-icon">
						<i class="fa-solid fa-user-tie"></i>
					</div>
				</div>
				<div class="right-card">
					<h3 class="ps-4 mb-1 fs-4">{{item.company}}</h3>
					<p class="ps-4 text-muted">{{item.position}} | {{item.duration}} </p>
					<ul class="text-muted">
						<li>
							{{item.desc[0]}}
						</li>
						<li>
							{{item.desc[1]}}
						</li>
						<li>
							{{item.desc[2]}}
						</li>
					</ul>
				</div>
			</div>
			<div *ngIf="!isView && i === 1" class="d-flex justify-content-center">
				<button (click)="isViewALlExperience()" class="btn btn-theme btn-sm">view All</button>
			</div>
		</div>
		<div *ngIf="isView" class="d-flex justify-content-center">
			<button (click)="isCloseALlExperience()" class="btn btn-theme btn-sm">Okey, I got it</button>
		</div>
	</section>
	<section *ngIf="category === 'Education'">
		<div *ngFor="let item of defaultEducationCards; index as i" class="container">
			<div class="cards d-flex justify-content-evenly">
				<div class="center-steep">
					<div [ngClass]="isDark ? 'dark-theme-vertical-line' : ''" class="vertical-line"></div>
					<div class="fs-4 vertical-line-icon">
						<i class="fa-solid fa-user-graduate"></i>
					</div>
				</div>
				<div class="right-card">
					<h3 class="ps-4 mb-1 fs-4">{{item.institute}}</h3>
					<p class="ps-4 text-muted">{{item.degree}} | {{item.duration}}</p>
					<ul class="text-muted">
						<li>
							{{item.desc[0]}}
						</li>
						<li>
							{{item.desc[1]}}
						</li>
						<li>
							{{item.desc[2]}}
						</li>
					</ul>
				</div>
			</div>
			<div *ngIf="!isView && i === 1" class="d-flex justify-content-center">
				<button (click)="isViewALlExperience()" class="btn btn-theme btn-sm">view All</button>
			</div>
		</div>
		<div *ngIf="isView" class="d-flex justify-content-center">
			<button (click)="isCloseALlExperience()" class="btn btn-theme btn-sm">Okey, I got it</button>
		</div>
	</section>
</ng-template>
<ng-template #isNotMobileDevice>
	<section *ngIf="category === 'Experience'" [ngClass]="isDark ? 'dark-theme-text' : ''">
		<div *ngFor="let item of defaultExperienceCards; index as i" class="container">
			<div *ngIf="item.isLeft" class="cards d-flex justify-content-evenly">
				<div class="left-card">
					<h3 class="ps-4 mb-1 fs-4">{{item.company}}</h3>
					<p class="ps-4 text-muted">{{item.position}} | {{item.duration}} </p>
					<ul class="text-muted">
						<li>
							{{item.desc[0]}}
						</li>
						<li>
							{{item.desc[1]}}
						</li>
						<li>
							{{item.desc[2]}}
						</li>
						<li>
							{{item.desc[3]}}
						</li>
					</ul>
				</div>
				<div class="center-steep">
					<div [ngClass]="isDark ? 'dark-theme-vertical-line' : ''" class="vertical-line"></div>
					<div class="fs-4 vertical-line-icon">
						<i class="fa-solid fa-user-tie"></i>
					</div>
				</div>
				<div class="right-card">

				</div>
			</div>
			<div *ngIf="!item.isLeft" class="cards d-flex justify-content-evenly">
				<div class="left-card">

				</div>
				<div class="center-steep">
					<div [ngClass]="isDark ? 'dark-theme-vertical-line' : ''" class="vertical-line"></div>
					<div class="fs-4 vertical-line-icon">
						<i class="fa-solid fa-user-tie"></i>
					</div>
				</div>
				<div class="right-card">
					<h3 class="ps-4 mb-1 fs-4">{{item.company}}</h3>
					<p class="ps-4 text-muted">{{item.position}} | {{item.duration}} </p>
					<ul class="text-muted">
						<li>
							{{item.desc[0]}}
						</li>
						<li>
							{{item.desc[1]}}
						</li>
						<li>
							{{item.desc[2]}}
						</li>
						<li>
							{{item.desc[3]}}
						</li>
					</ul>
				</div>
			</div>
			<div *ngIf="!isView && i === 1" class="d-flex justify-content-center">
				<button (click)="isViewALlExperience()" class="btn btn-theme btn-sm">view All</button>
			</div>
		</div>
		<div *ngIf="isView" class="d-flex justify-content-center">
			<button (click)="isCloseALlExperience()" class="btn btn-theme btn-sm">Okey, I got it</button>
		</div>
	</section>

	<section *ngIf="category === 'Education'">
		<div *ngFor="let item of defaultEducationCards; index as i" class="container">
			<div *ngIf="item.isLeft" class="cards d-flex justify-content-evenly">
				<div class="left-card">
					<h3 class="ps-4 mb-1 fs-4">{{item.institute}}</h3>
					<p class="ps-4 text-muted">{{item.degree}} | {{item.duration}}</p>
					<ul class="text-muted">
						<li>
							{{item.desc[0]}}
						</li>
						<li>
							{{item.desc[1]}}
						</li>
						<li>
							{{item.desc[2]}}
						</li>
					</ul>
				</div>
				<div class="center-steep">
					<div [ngClass]="isDark ? 'dark-theme-vertical-line' : ''" class="vertical-line"></div>
					<div class="fs-4 vertical-line-icon">
						<i class="fa-solid fa-user-graduate"></i>
					</div>
				</div>
				<div class="right-card">

				</div>
			</div>
			<div *ngIf="!item.isLeft" class="cards d-flex justify-content-evenly">
				<div class="left-card">

				</div>
				<div class="center-steep">
					<div [ngClass]="isDark ? 'dark-theme-vertical-line' : ''" class="vertical-line"></div>
					<div class="fs-4 vertical-line-icon">
						<i class="fa-solid fa-user-graduate"></i>
					</div>
				</div>
				<div class="right-card">
					<h3 class="ps-4 mb-1 fs-4">{{item.institute}}</h3>
					<p class="ps-4 text-muted">{{item.degree}} | {{item.duration}}</p>
					<ul class="text-muted">
						<li>
							{{item.desc[0]}}
						</li>
						<li>
							{{item.desc[1]}}
						</li>
						<li>
							{{item.desc[2]}}
						</li>
					</ul>
				</div>
			</div>
			<div *ngIf="!isView && i === 1" class="d-flex justify-content-center">
				<button (click)="isViewALlExperience()" class="btn btn-theme btn-sm">view All</button>
			</div>
		</div>
		<div *ngIf="isView" class="d-flex justify-content-center">
			<button (click)="isCloseALlExperience()" class="btn btn-theme btn-sm">Okey, I got it</button>
		</div>
	</section>
</ng-template>
