<div class="header-height"></div>
<div class="container-fluid mb-5">
	<div class="container-fluid d-flex flex-column justify-content-center my-5 flex-wrap">
		<h2 class="text-center fs-2">Tech Stack</h2>
		<div class="d-flex justify-content-center">
			<div class="example-button-row">
				<button mat-button class="btn-bg-primary m-1" (click)="onChange('Experience')"
				[ngClass]="category === 'Experience' ? 'active-btn-bg-primary' : ''">
					<mat-icon>favorite</mat-icon>
					Experience
				</button>
				<button mat-button class="btn-bg-primary m-1" (click)="onChange('Education')"
						[ngClass]="category === 'Education' ? 'active-btn-bg-primary' : ''">
					<mat-icon>favorite</mat-icon>
					Education
				</button>
			</div>
		</div>
	</div>
</div>
<ng-template [ngIf]="isMobileDevice" [ngIfElse]="isNotMobileDevice">
	<div class="container" *ngFor="let item of defaultExperienceCards; index as i">
		<div class="cards d-flex justify-content-evenly">
			<div class="center-steep">
				<div class="vertical-line"></div>
				<div class="fs-4 vertical-line-icon">
					<img src="assets/images/user.png" width="30" height="30">
				</div>
			</div>
			<div class="right-card">
				<h3 class="ps-4 mb-1 fs-4">{{item.company}}</h3>
				<p class="ps-4 text-muted">{{item.position}} | {{item.duration}} </p>
				<ul class="text-muted">
					<li>
						{{item.desc[0]}}
					</li>
					<li>
						{{item.desc[1]}}
					</li>
					<li>
						{{item.desc[2]}}
					</li>
				</ul>
			</div>
		</div>
		<div class="d-flex justify-content-center" *ngIf="!isView && i === 1">
			<button class="btn btn-warning btn-sm" (click)="isViewALlExperience()">view All</button>
		</div>
	</div>
	<div class="d-flex justify-content-center" *ngIf="isView">
		<button class="btn btn-warning btn-sm" (click)="isCloseALlExperience()">Okey, I got it</button>
	</div>
</ng-template>
<ng-template #isNotMobileDevice>
<section *ngIf="category === 'Experience'">
	<div class="container" *ngFor="let item of defaultExperienceCards; index as i">
		<div class="cards d-flex justify-content-evenly" *ngIf="item.isLeft">
			<div class="left-card">
				<h3 class="ps-4 mb-1 fs-4">{{item.company}}</h3>
				<p class="ps-4 text-muted">{{item.position}} | {{item.duration}} </p>
				<ul class="text-muted">
					<li>
						{{item.desc[0]}}
					</li>
					<li>
						{{item.desc[1]}}
					</li>
					<li>
						{{item.desc[2]}}
					</li>
					<li>
						{{item.desc[3]}}
					</li>
				</ul>
			</div>
			<div class="center-steep">
				<div class="vertical-line"></div>
				<div class="fs-4 vertical-line-icon">
					<img src="assets/images/user.png" width="30" height="30">
				</div>
			</div>
			<div class="right-card">

			</div>
		</div>
		<div class="cards d-flex justify-content-evenly" *ngIf="!item.isLeft">
			<div class="left-card">

			</div>
			<div class="center-steep">
				<div class="vertical-line"></div>
				<div class="fs-4 vertical-line-icon">
					<img src="assets/images/user.png" width="30" height="30">
				</div>
			</div>
			<div class="right-card">
				<h3 class="ps-4 mb-1 fs-4">{{item.company}}</h3>
				<p class="ps-4 text-muted">{{item.position}} | {{item.duration}} </p>
				<ul class="text-muted">
					<li>
						{{item.desc[0]}}
					</li>
					<li>
						{{item.desc[1]}}
					</li>
					<li>
						{{item.desc[2]}}
					</li>
					<li>
						{{item.desc[3]}}
					</li>
				</ul>
			</div>
		</div>
		<div class="d-flex justify-content-center" *ngIf="!isView && i === 1">
			<button class="btn btn-warning btn-sm" (click)="isViewALlExperience()">view All</button>
		</div>
	</div>
	<div class="d-flex justify-content-center" *ngIf="isView">
		<button class="btn btn-warning btn-sm" (click)="isCloseALlExperience()">Okey, I got it</button>
	</div>
</section>

<section *ngIf="category === 'Education'">
	<div class="container" *ngFor="let item of defaultEducationCards; index as i">
		<div class="cards d-flex justify-content-evenly" *ngIf="item.isLeft">
			<div class="left-card">
				<h3 class="ps-4 mb-1 fs-4">{{item.institute}}</h3>
				<p class="ps-4 text-muted">{{item.degree}} | {{item.duration}}</p>
				<ul class="text-muted">
					<li>
						{{item.desc[0]}}
					</li>
					<li>
						{{item.desc[1]}}
					</li>
					<li>
						{{item.desc[2]}}
					</li>
				</ul>
			</div>
			<div class="center-steep">
				<div class="vertical-line"></div>
				<div class="fs-4 vertical-line-icon">
					<img src="assets/images/user.png" width="30" height="30">
				</div>
			</div>
			<div class="right-card">

			</div>
		</div>
		<div class="cards d-flex justify-content-evenly" *ngIf="!item.isLeft">
			<div class="left-card">

			</div>
			<div class="center-steep">
				<div class="vertical-line"></div>
				<div class="fs-4 vertical-line-icon">
					<img src="assets/images/user.png" width="30" height="30">
				</div>
			</div>
			<div class="right-card">
				<h3 class="ps-4 mb-1 fs-4">{{item.institute}}</h3>
				<p class="ps-4 text-muted">{{item.degree}} | {{item.duration}}</p>
				<ul class="text-muted">
					<li>
						{{item.desc[0]}}
					</li>
					<li>
						{{item.desc[1]}}
					</li>
					<li>
						{{item.desc[2]}}
					</li>
				</ul>
			</div>
		</div>
		<div class="d-flex justify-content-center" *ngIf="!isView && i === 1">
			<button class="btn btn-warning btn-sm" (click)="isViewALlExperience()">view All</button>
		</div>
	</div>
	<div class="d-flex justify-content-center" *ngIf="isView">
		<button class="btn btn-warning btn-sm" (click)="isCloseALlExperience()">Okey, I got it</button>
	</div>
</section>
</ng-template>
