<div class="section">
	<nav class="navbar navbar-expand-lg sticky-top  ">
		<div class="container-fluid" [ngClass]="isMobileDevice ? 'justify-content-between px-5': 'justify-content-around'">
			<a class="navbar-brand fs-3 " href="/">< Vishwajit Sayambar /></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end flex-grow-0" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-5">
					<li class="nav-item p-2">
						<a class="nav-link" href="#about">About</a>
					</li>
					<li class="nav-item p-2">
						<a class="nav-link" href="/resume">Resume</a>
					</li>
					<li class="nav-item p-2">
						<a class="nav-link" href="#skill">Skills</a>
					</li>
					<li class="nav-item p-2">
						<a class="nav-link" href="#project">Projects</a>
					</li>
					<li class="nav-item p-2">
						<a class="nav-link" href="#experience">Experience</a>
					</li>
					<li class="nav-item p-2">
						<a class="nav-link" href="#contact">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<router-outlet></router-outlet>
	<app-footer></app-footer>
</div>
<div class="floating-btn" *ngIf="!isMobileDevice">
	<div class="btn-1"><a href="https://twitter.com/vishwaSayambar" target="_blank"><i class="fa-brands fa-twitter"></i></a></div>
	<div class="btn-2"><a href="https://www.linkedin.com/in/vishwajit-sayambar/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></div>
	<div class="btn-3"><a href="https://github.com/vishwasayambar" target="_blank"><i class="fa-brands fa-github"></i></a></div>
	<div class="btn-3"><a href="tel:+918459987661"><i class="fa-solid fa-phone"></i></a></div>
	<div class="btn-4"><a href="https://medium.com/@vishwajitsayambar" target="_blank"><i class="fa-brands fa-medium"></i></a></div>
	<div class="btn-4"><a href="https://www.instagram.com/vishwasayambar/" target="_blank"><i class="fa-brands fa-instagram"></i></a></div>
</div>
