@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Reenie+Beanie&display=swap');

.navbar-brand{
	font-family: 'Reenie Beanie', cursive;
	}
.example-spacer {
	flex: 1 1 auto;
	}

.navbar{
		backdrop-filter: blur(8px);
	}
.section{
	background: url('/assets/images/herobgc.jpg') center center / cover no-repeat;
	}
